package templates

import "portfolio-v2/models"

templ Home(
	blogPosts []models.BlogPostPreview,
	blogHasMore bool,
	blogNextPage int,
	blogTags []string,
	projects []models.Project,
	projectsHasMore bool,
	projectsNextPage int,
) {
	@Layout("Michael Hegner - Senior Software Engineer") {
		@Hero()
		@About()
		@BlogFeed(blogPosts, blogHasMore, blogNextPage, blogTags)
		@ProjectFeed(projects, projectsHasMore, projectsNextPage)
		@ContactForm()
	}
}
